<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobilepro.hautecoute">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HauteCoute">
        <activity
            android:name=".Shipping.DetailBaju1"
            android:exported="false" />
        <activity
            android:name=".Shipping.ChooseClothes"
            android:exported="false" />
        <activity
            android:name=".MixMatchResult"
            android:exported="false" />
        <activity
            android:name=".Validation.Registrasi"
            android:exported="false" />
        <activity
            android:name=".Validation.LoginP"
            android:exported="false" />
        <activity
            android:name=".Validation.OnBoarding"
            android:exported="false" />
        <activity
            android:name=".SplashScreen.SplashScreen3"
            android:exported="false" />
        <activity
            android:name=".SplashScreen.SplashScreen2"
            android:exported="false" />
        <activity
            android:name=".SplashScreen.SplashScreen1"
            android:exported="false" />
        <activity
            android:name=".NavView.MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>